<div class="container-fluid">
    <h4><button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed">{{isCollapsed ? '+' : '-'}}</button>  Planning</h4>
    <form #equipmentTripEventForm="ngForm" (ngSubmit)="submitForm(equipmentTripEventForm)" form-inline >
        <div class="col-sm-12 row">
            <div class="col-sm-12">
                <table class="table table-condensed table-bordered table-responsive table-striped table-hover" [collapse]="isCollapsed">
                    <thead>
                        <tr>
                            <th>Select+</th>
                            <th>Id</th>
                            <th>Product</th>
                            <th>Equipment</th>
                            <th>Location</th>
                            <th>CP Date</th>
                            <th>Available Weight</th>
                            <th>Arrival Weight</th>
                            <th>Weight UOM</th>
                            <th>Comment</th>
                            <th>Log Grade Ser</th>
                            <th>Sequence+</th>
                            <th>PlanWt++</th>
                            <th>PlanVol++</th>
                            <th>Seals</th>
                        </tr>
                  </thead>
                    <tbody *ngIf="newTransferOrderPlannings"  >
                        <tr style="cursor: pointer" *ngFor="let transferOrderPlanning of newTransferOrderPlannings;let i=index">
                            <td><input type="checkbox" class="readOnly" name="{{i}}isSelected" [(ngModel)]=transferOrderPlanning.isSelected (change)="onChangeIsSelected(i,$event)"></td>
                            <td>{{transferOrderPlanning.transferOrderPlanningId}}</td>
                            <td>{{getProductName(transferOrderPlanning.productId)}}</td>
                            <td>{{
                                equipmentTripIdToObjMap[transferOrderPlanning.equipmentTripId] ?  getEquipmentName( equipmentTripIdToObjMap[transferOrderPlanning.equipmentTripId].equipmentId) : ""
                                 }}</td>
                            <td>
                                {{
                                equipmentTripIdToObjMap[transferOrderPlanning.equipmentTripId] ?  getLocationName( equipmentTripIdToObjMap[transferOrderPlanning.equipmentTripId].locationId)  : ""
                                }}</td>
                            <td>{{
                                equipmentTripIdToObjMap[transferOrderPlanning.equipmentTripId] ?  (equipmentTripIdToObjMap[transferOrderPlanning.equipmentTripId].cpDate | date:'MM/dd/yyyy') : ""
                                }} </td>
                            <td>{{transferOrderPlanning.availableWeight}}</td>
                            <td>{{transferOrderPlanning.arrivalWeight}}{{equipmentTripIdToObjMap[transferOrderPlanning.equipmentTripId] ?  equipmentTripIdToObjMap[transferOrderPlanning.equipmentTripId].arrivalWeight : ""}} </td>
                            <td>{{getUnitOfMeasureName(transferOrderPlanning.weightUnitOfMeasureId)}}</td>
                            <td>{{equipmentTripIdToObjMap[transferOrderPlanning.equipmentTripId] ?  equipmentTripIdToObjMap[transferOrderPlanning.equipmentTripId].redTagComment : ""}}</td>
                            <td>{{transferOrderPlanning.lotGradeSer}}</td>
                            <td> <input type="number" class="form-control readOnly" name="{{i}}sequence" [(ngModel)]=transferOrderPlanning.sequenceNumber></td>
                            <td><input type="number" class="form-control readOnly" name="{{i}}planWeight" [(ngModel)]=transferOrderPlanning.planWeight (input)="onPlanWeightChange($event.target.value, i)"></td>
                            <td><input type="number" class="form-control readOnly" name="{{i}}planVolume" [(ngModel)]=transferOrderPlanning.planVolume (input)="onPlanVolumeChange($event.target.value, i)"></td>
                            <td><input type="text" class="form-control readOnly" name="{{i}}sealNumber" [(ngModel)]=transferOrderPlanning.sealNumber></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
    <br/>
    