<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="planning-panel">
    <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#planning" aria-expanded="true"
      aria-controls="planning">
      Planning
    </h4>
  </div>
  <div id="planning" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="planning">
    <form #equipmentTripEventForm="ngForm" (ngSubmit)="submitForm(equipmentTripEventForm)">
      <div class="table-responsive">
        <table class="table table-condensed table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Select+</th>
              <th>Id</th>
              <th>Product</th>
              <th>Equipment</th>
              <th>Location</th>
              <th>CP Date</th>
              <th>Available Weight</th>
              <th>Arrival Weight</th>
              <th>Weight UOM</th>
              <th>Comment</th>
              <th>Log Grade Ser</th>
              <th>Sequence+</th>
              <th>PlanWt++</th>
              <th>PlanVol++</th>
              <th>Seals</th>
            </tr>
          </thead>
          <tbody *ngIf="newTransferOrderPlannings">
            <tr style="cursor: pointer" *ngFor="let transferOrderPlanning of newTransferOrderPlannings;let i=index">
              <td><input type="checkbox" class="readOnly" name="{{i}}isSelected" [(ngModel)]=transferOrderPlanning.isSelected
                  (change)="onChangeIsSelected(i,$event)"></td>
              <td>{{transferOrderPlanning.transferOrderPlanningId}}</td>
              <td>{{getProductName(transferOrderPlanning.productId)}}</td>
              <td>{{ equipmentTripIdToObjMap[transferOrderPlanning.equipmentTripId] ? getEquipmentName( equipmentTripIdToObjMap[transferOrderPlanning.equipmentTripId].equipmentId)
                : "" }}
              </td>
              <td>
                {{ equipmentTripIdToObjMap[transferOrderPlanning.equipmentTripId] ? getLocationName( equipmentTripIdToObjMap[transferOrderPlanning.equipmentTripId].locationId)
                : "" }}
              </td>
              <td>{{ equipmentTripIdToObjMap[transferOrderPlanning.equipmentTripId] ? (equipmentTripIdToObjMap[transferOrderPlanning.equipmentTripId].cpDate
                | date:'MM/dd/yyyy') : "" }} </td>
              <td>{{transferOrderPlanning.availableWeight}}</td>
              <td>{{transferOrderPlanning.arrivalWeight}}{{equipmentTripIdToObjMap[transferOrderPlanning.equipmentTripId] ? equipmentTripIdToObjMap[transferOrderPlanning.equipmentTripId].arrivalWeight
                : ""}} </td>
              <td>{{getUnitOfMeasureName(transferOrderPlanning.weightUnitOfMeasureId)}}</td>
              <td>{{equipmentTripIdToObjMap[transferOrderPlanning.equipmentTripId] ? equipmentTripIdToObjMap[transferOrderPlanning.equipmentTripId].redTagComment
                : ""}}</td>
              <td>{{transferOrderPlanning.lotGradeSer}}</td>
              <td> <input type="number" class="form-control readOnly" name="{{i}}sequence" [(ngModel)]=transferOrderPlanning.sequenceNumber></td>
              <td><input type="number" class="form-control readOnly" name="{{i}}planWeight" [(ngModel)]=transferOrderPlanning.planWeight
                  (input)="onPlanWeightChange($event.target.value, i)"></td>
              <td><input type="number" class="form-control readOnly" name="{{i}}planVolume" [(ngModel)]=transferOrderPlanning.planVolume
                  (input)="onPlanVolumeChange($event.target.value, i)"></td>
              <td><input type="text" class="form-control readOnly" name="{{i}}sealNumber" [(ngModel)]=transferOrderPlanning.sealNumber></td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>
