<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Equipment Sub Type List</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div class="row">
            <label for="equipmentTypeId" class="col-xs-4 control-label">Equipment Type</label>
            <div class="col-xs-8">
              <select class="form-control readOnly" id="equipmentTypeId" #equipmentTypeId [(ngModel)]=equipmentType>
          <option [ngValue]="null">Select Equipment Type</option>
                    <option *ngFor="let equipmentType of equipmentTypeList"
                    [value]="equipmentType.equipmentTypeId" >{{equipmentType.equipmentType}}</option>
                </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-xs-4 control-label" for="input">Search:</label>
            <div class="col-xs-8">
              <div class="icon-addon"><input class="form-control search-icon-addon" #input placeholder="Equipment Sub Type Name" id="search">
                <label for="email" class="glyphicon glyphicon-search icon-left" rel="tooltip" title="Equipment Sub Type Name"></label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label for="isActive" class="col-xs-4 control-label">Is Active</label>
            <div class="col-xs-8">
              <input type="checkbox" class="readOnly" name="isActive" [(ngModel)]=isActive (change)="onChangeIsActive($event)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <button type="button" class="btn btn-primary" [disabled]="!pageSecurity.isWritable" (click)="addNewDetail($event)">Add New Equipment Sub Type</button>
    <table class="table table-condensed table-bordered table-responsive table-striped table-hover list">
      <thead>
        <tr>
          <th>Equipment Sub Type Id</th>
          <th>Equipment Sub Type</th>
          <th>Equipment Type</th>
          <th>Is Active</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipmentSubType of equipmentSubTypeList |  searchEquipmentSubType: input.value:equipmentTypeId.value" (click)="gotoDetail(equipmentSubType)">
          <td>{{equipmentSubType.equipmentSubTypeId}}</td>
          <td>{{equipmentSubType.equipmentSubType}}</td>
          <td>{{equipmentSubType.equipmentType.equipmentType}}</td>
          <td>{{equipmentSubType.isActive}}</td>
        </tr>
      </tbody>
    </table>

    <button type="button" class="btn btn-primary" [disabled]="!pageSecurity.isWritable" (click)="addNewDetail($event)">Add New Equipment Sub Type</button>
  </div>

</div>
<!--
<div class="container">
  <h2></h2>
  <span layout="row"><hr flex/></span>
  <div class="form-group  col-md-12">
    
-->
