<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Inventory Adjustment List</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <form #inventoryAdjustmentSearchForm="ngForm">
          <div class="form-group">
            <div class="row">
              <label for="equipmentId" class="col-xs-4 col-form-label">Equipment</label>
              <div class="col-xs-8">
                <select class="form-control readOnly" name="equipmentId" [(ngModel)]=inventoryAdjustmentSearch.equipmentId>
                  <option [ngValue]="null">Select Equipment</option>
                  <option *ngFor="let equipment of equipmentList"
                          [value]="equipment.equipmentId"
                  > {{equipment.equipmentName}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <label for="startDate" class="col-xs-4 col-form-label">StartDate</label>
              <div class="col-xs-4">
                  <div id="startDate" class="input-group date">
                      <input type="type" name="startDate" class="form-control pickdate" ngui-datetime-picker useValueAsDate [(ngModel)]="inventoryAdjustmentSearch.startDate">
                      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                  </div>                
              </div>
              <div class="col-xs-4">
                  <div id="endDate" class="input-group date">
                      <input type="type" name="endDate"class="form-control pickdate" ngui-datetime-picker useValueAsDate [(ngModel)]="inventoryAdjustmentSearch.endDate">                      
                      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                  </div>                
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <label class="col-xs-4 col-form-label">Show All</label>
              <div class="col-xs-8">
                <input type="checkbox" class="readOnly" name="showAll" [(ngModel)]=inventoryAdjustmentSearch.isVoided>
              </div>
            </div>
          </div>

          <button class="btn btn-primary" type="button" (click)="searchInventoryAdjustment()">Search</button>

        </form>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <button type="button" class="btn btn-primary" [disabled]="!pageSecurity.isWritable" (click)="addNewDetail($event)">Add New Adjustment</button>
    <div class="table-responsive">
      <table class="table table-condensed table-bordered table-responsive table-striped table-hover list">
        <thead>
          <tr>
            <th>Id</th>
            <th>EquipmentTripId</th>
            <th>Equipment</th>
            <th>Amount</th>
            <th>Weight UOM</th>
            <th>TransactionDate</th>
            <th>Reason</th>
            <th>Voided</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let inventoryAdjustment of inventoryAdjustmentList " (click)="gotoDetail(inventoryAdjustment)">
            <td>{{inventoryAdjustment.inventoryAdjustmentId}}</td>
            <td>{{inventoryAdjustment.equipmentTripId}}</td>
            <td>{{getEquipmentName(inventoryAdjustment.equipmentId)}}</td>
            <td>{{inventoryAdjustment.amount}}</td>
            <td>{{getUnitOfMeasureName(inventoryAdjustment.weightUnitOfMeasureId)}}</td>
            <td>{{inventoryAdjustment.transactionDate | date: 'MM/dd/yyyy'}}</td>
            <td>{{inventoryAdjustment.reason}}</td>
            <td>{{inventoryAdjustment.isVoided ? 'Yes' : 'No'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <button type="button" class="btn btn-primary" [disabled]="!pageSecurity.isWritable" (click)="addNewDetail($event)">Add New Adjustment</button>
  </div>
</div>
