<div class="container-fluid">
  <h2>TransferOrder List</h2>
  <span layout="row"><hr flex/></span>
  <form #transferOrderSearchForm="ngForm" form-inline>
    <div class="form-group row">
      <label for="equipmentId" class="col-sm-1 col-form-label">Equipment</label>
      <div class="col-sm-3">
        <select class="form-control readOnly" name="equipmentId" [(ngModel)]=transferOrderSearch.equipmentId>
                  <option [ngValue]="null">Select Equipment</option>
                    <option *ngFor="let equipment of equipmentList"
                    [value]="equipment.equipmentId"
                    >{{equipment.equipmentName}}</option>
                </select>
      </div>
      <label for="customerId" class="col-sm-1 col-form-label">Customer</label>
      <div class="col-sm-3">
        <select class="form-control readOnly" name="customerId" [(ngModel)]="transferOrderSearch.customerId">
          <option [ngValue]="null">Select Customer</option>
                    <option *ngFor="let customer of customerList"
                    [value]="customer.companyId"
                    >{{customer.companyName}}</option>
                </select>
      </div>
      <label for="productId" class="col-sm-1 col-form-label">Product</label>
      <div class="col-sm-3">
        <select class="form-control readOnly" id="productId" name="productId" [(ngModel)]=transferOrderSearch.productId>
          <option [ngValue]="null">Select Product</option>
                    <option *ngFor="let product of productList"
                    [value]="product.productId"
                    >{{product.productName}}</option>
                </select>
      </div>

    </div>

    <div class="form-group row">
      <label for="shipperId" class="col-sm-1 col-form-label">Shipper</label>
      <div class="col-sm-3">
        <select class="form-control readOnly" name="shipperId" [(ngModel)]="transferOrderSearch.shipperId">
          <option [ngValue]="null">Select Shipper</option>
                    <option *ngFor="let shipper of shipperList"
                    [value]="shipper.companyId"
                    >{{shipper.companyName}}</option>
                </select>
      </div>
      <label for="shipperOrderNumber" class="col-sm-1 col-form-label">Shipper Order#</label>
      <div class="col-sm-3">
        <input type="text" id="shipperOrderNumber" class="form-control readOnly" name="shipperOrderNumber" [(ngModel)]=transferOrderSearch.shipperOrderNumber>
      </div>
      <label for="locationId" class="col-sm-1 col-form-label">Carrier</label>
      <div class="col-sm-3">
        <select class="form-control readOnly" id="locationId" name="locationId" [(ngModel)]="transferOrderSearch.carrierId">
          <option [ngValue]="null">Select Carrier</option>
                    <option *ngFor="let carrier of carrierList"
                    [value]="carrier.companyId"
                    >{{carrier.companyName}}</option>
                </select>
      </div>
    </div>


    <div class="form-group row">
      <label for="transferType" class="col-sm-1 col-form-label">TransferType</label>
      <div class="col-sm-3">
        <select class="form-control readOnly" name="transferTypeId" [(ngModel)]="transferOrderSearch.transferTypeId">
                    <option [ngValue]="null">Select TransferType</option>
                    <option *ngFor="let transferType of transferTypeList"
                    [value]="transferType.transferTypeId"
                    >{{transferType.transferType}}</option>
                </select>
      </div>
      <!--<label for="orderStatus" class="col-sm-1 col-form-label">OrderStatus</label>
      <div class="col-sm-3">
        <select class="form-control readOnly" name="orderStatus" [(ngModel)]="transferOrderSearch.orderStatus">
          <option [ngValue]="null">Select OrderStatus</option>
                    <option *ngFor="let orderStatus of orderStatuses" [value]="orderStatus" >{{orderStatus}}</option>
                </select>
      </div>-->

      <label for="isVoided" class="col-sm-1 col-form-label">Voided</label>
      <div class="col-sm-3">
        <input type="checkbox" class="readOnly" name="isVoided" [(ngModel)]=transferOrderSearch.isVoided>
      </div>
    </div>



    <div class="form-group row">
      <label for="dateType" class="col-sm-1 col-form-label">DateType</label>
      <label for="dateType" class="col-sm-1 col-form-label">LoadedDate</label>
      <div class="col-sm-1">
        <input name="dateType" type="radio" value="Loaded Date" [(ngModel)]=transferOrderSearch.dateType>
      </div>
      <label for="dateType" class="col-sm-1 col-form-label">DeliveredDate</label>
      <div class="col-sm-1">
        <input name="dateType" type="radio" value="Delivered Date" [(ngModel)]=transferOrderSearch.dateType>
      </div>
      <label for="dateType" class="col-sm-1 col-form-label">OrderDate</label>
      <div class="col-sm-1">
        <input name="dateType" type="radio" value="Ordered Date" [(ngModel)]=transferOrderSearch.dateType>
      </div>
    </div>

    <div class="form-group row">
      <label for="startDate" class="col-sm-1 col-form-label">StartDate</label>
      <div class="col-sm-2">
        <input type="date" name="startDate" useValueAsDate [(ngModel)]="transferOrderSearch.startDate">
      </div>
      <div class="col-sm-2">
        <input type="date" name="startDate" useValueAsDate [(ngModel)]="transferOrderSearch.endDate">
      </div>
    </div>
    <br/>

    <div class="form-group ">
      <button class="btn btn-primary" type="button" (click)="searchTransferOrder()">Search</button>
    </div>
  </form>

  <div class="form-group  col-md-12 list">
    <br/> 
    <button type="button" class="btn btn-primary" (click)="addNewDetail($event)" [disabled]="!pageSecurity.isWritable" >Add New Order</button>
    <button type="button" class="btn btn-primary" (click)="validateTransferOrders($event)" [disabled]="!pageSecurity.isWritable" >Validate</button>
    <table class="table table-condensed table-bordered table-responsive table-striped table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Customer</th>
          <th>Shipper</th>
          <th>Product</th>
          <th>ShipperOrder#</th>
          <th>PO#</th>
          <th>OrderStatus</th>
          <th>Validated</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transferOrder of transferOrderSearchResultList; let i=index" >
          <td (click)="gotoDetail(transferOrder)">{{transferOrder.transferOrderId}}</td>
          <td (click)="gotoDetail(transferOrder)">{{transferOrder.customerName}}</td>
          <td (click)="gotoDetail(transferOrder)">{{transferOrder.shipperName}}</td>
          <td (click)="gotoDetail(transferOrder)">{{transferOrder.productName}}</td>
          <td (click)="gotoDetail(transferOrder)">{{transferOrder.shipperOrderNumber}}</td>
          <td (click)="gotoDetail(transferOrder)">{{transferOrder.purchaseOrderNumber}}</td>
          <td (click)="gotoDetail(transferOrder)">{{transferOrder.orderStatus}}</td>
          <td>
            <div *ngIf="!transferOrder.isValidated">
              <td><input type="checkbox" class="checkbox" name="{{i}}IsValidated" #{{i}}IsValidated="ngModel" [(ngModel)]=transferOrder.isValidated
              [disabled]="!transferOrder.isCompleted"
                  > </td>
            </div>
            <div *ngIf="transferOrder.isValidated">
              Yes
            </div>

          </td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary" (click)="addNewDetail($event)" [disabled]="!pageSecurity.isWritable" >Add New Order</button>
    <button type="button" class="btn btn-primary" (click)="validateTransferOrders($event)" [disabled]="!pageSecurity.isWritable" >Validate</button>
  </div>
