
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Company Area List</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">

        <div class="form-group">
          <div class="row">
            <label class="col-xs-4 control-label" for="input">Search:</label>
            <div class="col-xs-8">
               <div class="icon-addon">
                <input class="form-control search-icon-addon" #input placeholder="Company Area Name" id="search">
                <label for="search" class="glyphicon glyphicon-search icon-left" rel="tooltip" title="Company Area Name"></label>
               </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
             <label for="isActive" class="col-xs-4 control-label">Is Active</label>
              <div class="col-xs-8">
                <input type="checkbox" class="readOnly" name="isActive" [(ngModel)]=isActive (change)="onChangeIsActive($event)">
              </div>
          </div>       
        </div>

      </div>
    </div>
  </div>


  <div class="panel-body">
    <div>
      <button type="button" class="btn btn-primary" [disabled]="!pageSecurity.isWritable"  (click)="addNewDetail($event)">Add New Company Area</button>
    </div>
    <div class="table-responsive">
      <table class="table table-condensed list">
        <thead>
          <tr>
            <th>Company Area Id</th>
            <th>Company</th>
            <th>Area Name</th>
            <th>Comment</th>
            <th>Is Active</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let companyArea of companyAreaList |  searchCompanyArea: input.value" (click)="gotoDetail(companyArea)">
            <td>{{companyArea.companyAreaId}}</td>
            <td>{{companyArea.companyId}}</td>
            <td>{{companyArea.areaName}}</td>
            <td>{{companyArea.comment}}</td>
            <td>{{companyArea.isActive}}</td>
          </tr>
        </tbody>
  </table>
    </div>

   <div>
      <button type="button" class="btn btn-primary" [disabled]="!pageSecurity.isWritable"  (click)="addNewDetail($event)">Add New Company Area</button>
   </div>
  </div>
</div>

<div class="panel-footer">
    <!--paignation-->
</div>




