<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Equipment Type</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">

        <form #equipmentTypeForm="ngForm" (ngSubmit)="onSubmitForm(equipmentTypeForm)">
          <div class="form-group" *ngIf="equipmentType && equipmentType.equipmentTypeId !== 0 " <div class="row">
            <div class="row">
            <label for="equipmentTypeId" class="col-xs-4 control-label">Id</label>
            <div class="col-xs-8">
              <input type="text" class="form-control readOnly" name="equipmentTypeId" [(ngModel)]=equipmentType.equipmentTypeId #equipmentTypeId="ngModel"
                [readonly]="true">
            </div>
            </div>
          </div>


          <div class="form-group" *ngIf="equipmentType">
            <div class="row">
              <label for="#equipmentType" class="col-xs-4 control-label">Equipment Type</label>
              <div class="col-xs-8">
                <input type="text" class="form-control readOnly" name="equipmentType" [(ngModel)]=equipmentType.equipmentType #equipmentTypeName="ngModel"
                  [readonly]="!pageSecurity.isWritable ? true : null" required minlength="3" maxlength="50">

                <span class="help-block alert-danger" *ngIf="(equipmentTypeName.touched || equipmentTypeName.dirty) && equipmentTypeName.errors">
                            <span *ngIf="equipmentTypeName.errors.required">
                            Equipment Type is Required
                            </span>
                <span *ngIf="equipmentTypeName.errors.minlength">
                                Equipment Type must be longer than 3 characters.
                            </span>
                </span>
                <savage-message></savage-message>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="equipmentType">
            <div class="row">
              <label for="#isGlobal" class="col-xs-4 control-label">Is Global</label>
              <div class="col-xs-8">
                <input type="checkbox" name="isGlobal" #isGlobal="ngModel" [(ngModel)]=equipmentType.isGlobal>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="equipmentType">
            <div class="row">
              <label for="#isActive" class="col-xs-4 control-label">Is Active</label>
              <div class="col-xs-8">
                <input type="checkbox" name="isActive" #isActive="ngModel" [(ngModel)]=equipmentType.isActive>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="!equipmentTypeForm.valid || isInvalid || !pageSecurity.isWritable">Save</button>

        </form>


      </div>
    </div>
  </div>
</div>

<!--<div class="form-value">
        Form value:
        <pre>
    {{equipmentTypeForm.value | json}}
  </pre>
        <p>
            equipmentType: {{equipmentType | json}}

        </p>
        <p>
            Valid: {{equipmentTypeForm.valid}}
        </p>

        Security: {{equipmentTypeSecurity | json}}
    </div>-->
