<div class="container">
  <h2>EquipmentType List</h2>
  <span layout="row"><hr flex/></span>
  <div class="form-group  col-md-12">
    <label class="col-md-2 control-label" for="input">Search:</label>
    <div class="col-md-10">
      <input #input placeholder="equipmentTypeName" id="search">
    </div>
  </div>
  <div class="form-group  col-md-12">
    <label for="isActive" class="col-sm-2 col-form-label">IsActive</label>
    <div class="col-md-2">
      <input type="checkbox" class="readOnly" name="isActive" [(ngModel)]=isActive (change)="onChangeIsActive($event)">
    </div>
  </div>
  <br/> <br/><br/>
  <button type="button" class="btn btn-primary" [disabled]="!pageSecurity.isWritable"  (click)="addNewDetail($event)">Add New Equipment Type</button>
  <table class="table table-condensed table-bordered table-responsive table-striped table-hover list">
    <thead>
      <tr>
        <th>EquipmentTypeId</th>
        <th>EquipmentType</th>
        <th>Is Global</th>
        <th>IsActive</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let equipmentType of equipmentTypeList |  searchEquipmentType: input.value" (click)="gotoDetail(equipmentType)">
        <td>{{equipmentType.equipmentTypeId}}</td>
        <td>{{equipmentType.equipmentType}}</td>
        <td>{{equipmentType.isGlobal}}</td>
        <td>{{equipmentType.isActive}}</td>
      </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-primary" [disabled]="!pageSecurity.isWritable"  (click)="addNewDetail($event)">Add New Equipment Type</button>