<h3>About Component</h3>
<p>This is the about component!</p>



<!--
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        
        <div class="navbar-header">
            <a class="navbar-brand" href="/home"><img alt="Brand" src="favicon.ico"></a>
        </div>
        
        <div class="collapse navbar-default" >
        
            <ul class="nav navbar-nav">
                hello
                <li class="active"><a href="/user">User</a></li>
                <li class="active"><a href="/user">User</a></li>
                <li class="active"><a href="/user">User</a></li>
                
            </ul>
        </div>

        
    </div>
</nav>
-->
