<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Location List</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div class="row">
            <label class="col-xs-4 control-label" for="input">Search:</label>
            <div class="col-xs-8">
              <div class="icon-addon"><input #input placeholder="Location/Zone Name" class="form-control search-icon-addon" id="search"><label for="search" class="glyphicon glyphicon-search icon-left"
                  rel="tooltip" title="Location/Zone Name"></label></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label for="isActive" class="col-xs-4 col-form-label">Is Active</label>
            <div class="col-xs-8">
              <input type="checkbox" class="readOnly" name="isActive" [(ngModel)]=isActive (change)="onChangeIsActive($event)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <button type="button" class="btn btn-primary" [disabled]="!pageSecurity.isWritable" (click)="addNewDetail($event)">Add New Location</button>
    <table class="table table-condensed table-bordered table-responsive table-striped table-hover list">
      <thead>
        <tr>
          <th>LocationId</th>
          <th>Location Name</th>
          <th>Zone Name</th>
          <th>IsActive</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let location of locationList |  searchLocation: input.value" (click)="gotoDetail(location)">
          <td>{{location.locationId}}</td>
          <td>{{location.locationName}}</td>
          <td>{{location.zone.zoneName}}</td>
          <td>{{location.isActive}}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary" [disabled]="!pageSecurity.isWritable" (click)="addNewDetail($event)">Add New Location</button>
  </div>
</div>
