<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Zone List</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div class="row">
            <label class="col-xs-4 control-label" for="input">Search:</label>
            <div class="col-xs-8">
              <div class="icon-addon"><input #input placeholder="Zone" class="form-control search-icon-addon"><label for="search" class="glyphicon glyphicon-search icon-left"
                  rel="tooltip" title="location Usage Name"></label></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label for="isActive" class="col-xs-4 col-form-label">IsActive</label>
            <div class="col-xs-8">
              <input type="checkbox" class="readOnly" name="isActive" [(ngModel)]=isActive (change)="onChangeIsActive($event)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <button type="button" class="btn btn-primary" [disabled]="!pageSecurity.isWritable" (click)="addNewDetail($event)">Add New Zone</button>
    <table class="table table-condensed table-bordered table-responsive table-striped table-hover list">
      <thead>
        <tr>
          <th>ZoneId</th>
          <th>Zone Name</th>
          <!--<th>Site Name</th>-->
          <th>IsActive</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let zone of zoneList |  searchZone: input.value" (click)="gotoDetail(zone)">
          <td>{{zone.zoneId}}</td>
          <td>{{zone.zoneName}}</td>
          <!--<td>{{getSiteName(zone.siteId)}}</td>-->
          <td>{{zone.isActive}}</td>
        </tr>
      </tbody>
    </table>

    <button type="button" class="btn btn-primary" [disabled]="!pageSecurity.isWritable" (click)="addNewDetail($event)">Add New Zone</button>
  </div>
  <!--{{zoneList| json}}-->
