<h4>
  Alias</h4>
<form #productAliasForm="ngForm" (ngSubmit)="submitForm(productAliasForm)">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-condensed table-bordered table-responsive table-striped table-hover" *ngIf="product && product.productAliasList">
          <thead>
            <tr>
              <th>Alias</th>
              <th>Is Active</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let productAlias of product.productAliasList; let i=index">
              <td>{{productAlias.alias}} </td>
              <td>
                <input type="checkbox" class="checkbox" name="{{i}}IsActive" #{{i}}IsActive="ngModel" (change)="onChangeIsActive(i,$event)"
                  [(ngModel)]=productAlias.isActive [disabled]="!pageSecurity.isWritable ? true : null">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-3">
        <button class="btn btn-primary btn-block" type="button" (click)="onAddProductAlias()" [disabled]="!pageSecurity.isWritable  || !(product && product.productId) ">Add ProductAlias</button>
      </div>
      <div class="col-xs-9">
        <input type="text" class="form-control readOnly" name="productAlias" [(ngModel)]=myProductAlias #productAlias="ngModel" [readonly]="!pageSecurity.isWritable ? true : null">
      </div>
    </div>
  </div>
</form>
