<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="equipmentTripEvent-panel">
    <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#equipmentTripEvent" aria-expanded="true"
      aria-controls="equipmentTripEventForm">Events</h4>
  </div>
  <div id="equipmentTripEvent" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="equipmentTripEvent">
    <form #equipmentTripEventForm="ngForm" (ngSubmit)="submitForm(equipmentTripEventForm)" form-inline>
                   
      <div class="table-responsive">
        <table class="table table-condensed table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Event</th>
              <th>Type</th>
              <th>Set Date</th>
              <th>Remove Date</th>
              <th>L/E</th>
              <th>Carrier Details</th>
              <th>Carrier Location</th>
              <th>From Location</th>
              <th>To Location</th>
              <th>Severity</th>
              <th>Comment</th>
              <th>Voided</th>
            </tr>
          </thead>

          <tbody *ngIf="equipmentTripEvents">
            <tr style="cursor: pointer" (click)="onEdit(i,$event)" *ngFor="let equipmentTripEvent of equipmentTripEventList;let i=index">
              <td>{{equipmentTripEvent.event}}</td>
              <td>{{equipmentTripEvent.eventType}}</td>
              <td>{{equipmentTripEvent.setDate | date: 'MM/dd/yyyy'}}</td>
              <td>{{equipmentTripEvent.removeDate | date: 'MM/dd/yyyy'}}</td>
              <td>{{equipmentTripEvent.loadedEmptyStatus}}</td>
              <td>{{equipmentTripEvent.carrierDetails}}</td>
              <td>{{equipmentTripEvent.carrierLocation}}</td>
              <td>{{getLocationName(equipmentTripEvent.locationId)}}</td>
              <td>{{getLocationName(equipmentTripEvent.toLocationId)}}</td>
              <td>{{equipmentTripEvent.severity}}</td>
              <td>{{equipmentTripEvent.comment}}</td>
              <td><input type="checkbox" class="checkbox" name="{{i}}IsVoided" #{{i}}IsActive="ngModel" (click)="onEditDoNothing(i,$event)"
                  (change)="onChangeIsVoided(i,$event)" [(ngModel)]=equipmentTripEvent.isVoided [disabled]="!pageSecurity.isWritable ? true : null"></td>
            </tr>
          </tbody>
        </table>
      </div>
              
            
<!--
          <div class="row">
            <div class="col-xs-12" [collapse]="isCollapsed">
              <button class="btn btn-primary" type="button" (click)="onAddEvent()" [disabled]="equipmentTrip && (equipmentTrip.equipmentTripId ==0  || equipmentTrip.equipmentTripId ==null) || !pageSecurity.isWritable">Add Event</button>
            </div>
          </div>
          -->

          <popup #equipmentTripEventPopup (confirmClick)="onSaveEquipmentTripEvent($event)" (cancelClick)="onCancelEquipmentTripEvent()">

            <div class="form-group" *ngIf="equipmentTripEventObject">
              <div class="row">
                <savage-message2></savage-message2>
                <label for="event" class="col-xs-2 col-form-label">Event*</label>
                <div class="col-xs-4">
                  <select class="form-control readOnly" name="event" [(ngModel)]=equipmentTripEventObject.event (change)="onChangeEquipmentripEvent($event.target.value)"
                    required> 
                        <option [ngValue]=null>Select</option>
                    <option *ngFor="let equipmentTripEvent of equipmentTripEvents" [value]="equipmentTripEvent" [disabled]="!pageSecurity.isWritable">{{equipmentTripEvent}}</option>
                </select>
                </div>
                <label for="eventType" class="col-xs-2 col-form-label">Event Type*</label>
                <div class="col-xs-4">
                  <select class="form-control readOnly" name="eventType" [(ngModel)]=equipmentTripEventObject.eventType required> 
                        <option [ngValue]=""></option>
                    <option *ngFor="let equipmentTripEventType of equipmentTripEventTypes" [value]="equipmentTripEventType" [disabled]="!pageSecurity.isWritable">{{equipmentTripEventType}}</option>
                </select>
                </div>
              </div>
            </div>

            <div class="form-group" *ngIf="equipmentTripEventObject">
              <div class="row">
                <label for="shipDate" class="col-xs-2 col-form-label">Set Date*</label>
                <div class="col-xs-4">
                  <!--<input type="date" class="form-control readOnly" name="setDate" [(ngModel)]=equipmentTripEventObject.setDate required useValueAsDate>-->
                  <input ngui-datetime-picker class="form-control readOnly" name="setDate" [(ngModel)]=equipmentTripEventObject.setDate required/>
                </div>
                <label for="shipDate" class="col-xs-2 col-form-label">Remove Date</label>
                <div class="col-xs-4">
                  <!--<input type="date" class="form-control readOnly" name="removeDate" [(ngModel)]=equipmentTripEventObject.removeDate useValueAsDate>-->
                  <input ngui-datetime-picker class="form-control readOnly" name="removeDate" [(ngModel)]=equipmentTripEventObject.removeDate
                  />
                </div>
              </div>
            </div>

            <div class="form-group" *ngIf="equipmentTripEventObject">
              <div class="row">
                <label for="loadedEmptyStatus" class="col-xs-2 col-form-label">Loaded Status*</label>
                <div class="col-xs-4">
                  <select class="form-control readOnly" name="loadedEmptyStatus" [(ngModel)]=equipmentTripEventObject.loadedEmptyStatus required> 
                        <option [ngValue]=""></option>
                        <option *ngFor="let equipmentTripLoadedStatus of equipmentTripLoadedStatuses" [value]="equipmentTripLoadedStatus" [disabled]="!pageSecurity.isWritable">{{equipmentTripLoadedStatus}}</option>
                </select>
                </div>
                <label for="severity" class="col-xs-2 col-form-label">Severity*</label>
                <div class="col-xs-4">
                  <select class="form-control readOnly" name="severity" [(ngModel)]=equipmentTripEventObject.severity required> 
                        <option [ngValue]=""></option>
                        <option *ngFor="let equipmentTripSeverity of equipmentTripSeverities" [value]="equipmentTripSeverity" [disabled]="!pageSecurity.isWritable">{{equipmentTripSeverity}}</option>
                </select>
                </div>
              </div>
            </div>


            <div class="form-group" *ngIf="equipmentTripEventObject">
              <div class="row">
                <label for="carrierDetails" class="col-xs-2 col-form-label">Carrier Details</label>
                <div class="col-xs-4">
                  <input type="text" class="form-control readOnly" name="carrierDetails" [(ngModel)]=equipmentTripEventObject.carrierDetails>
                </div>
                <label for="carrierLocation" class="col-xs-2 col-form-label">Carrier Location</label>
                <div class="col-xs-4">
                  <input type="text" class="form-control readOnly" name="carrierLocation" [(ngModel)]=equipmentTripEventObject.carrierLocation>
                </div>
              </div>
            </div>


            <div class="form-group" *ngIf="equipmentTripEventObject">
              <div class="row">
                <label for="locationId" class="col-xs-2 col-form-label">Location</label>
                <div class="col-xs-4">
                  {{locationName}}
                </div>
                <label for="toLocationId" class="col-xs-2 col-form-label">To Location</label>
                <div class="col-xs-4">
                  <select class="form-control readOnly" id="toLocationId" name="toLocationId" [(ngModel)]=equipmentTripEventObject.toLocationId> 
                        <option ng-value=""></option>
                        <option *ngFor="let location of locationListForSelect" 
                    [value]="location.locationId" [disabled]="!pageSecurity.isWritable"
                    >{{location.locationName}}</option>
                </select>
                </div>
              </div>
            </div>


            <div class="form-group" *ngIf="equipmentTripEventObject">
              <div class="row">
                <label for="comment" class="col-xs-2 col-form-label">Comment</label>
                <div class="col-xs-4">
                  <input type="text" class="form-control readOnly" name="comment" [(ngModel)]=equipmentTripEventObject.comment>
                </div>
                <label for="isVoided" class="col-xs-2 col-form-label">Voided</label>
                <div class="col-xs-4">
                  <input type="checkbox" class="readOnly" name="isVoided" [(ngModel)]=equipmentTripEventObject.isVoided>
                </div>
              </div>
            </div>

            <div class="col-xs-4 col-xs-offset-2">
              <button type="button" class="btn btn-primary" [disabled]="false" (click)="onSaveEquipmentTripEvent($event)">Save</button>
              <button type="button" class="btn btn-primary" [disabled]="false" (click)="onCancelEquipmentTripEvent($event)">Cancel</button>
            </div>

          </popup>
        </form>
  </div>
</div>





<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <savage-message2></savage-message2>
        <h4><button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed">{{isCollapsed ? '+' : '-'}}</button>          Events</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <form #equipmentTripEventForm="ngForm" (ngSubmit)="submitForm(equipmentTripEventForm)" form-inline>
          <div class="row">
            <div class="col-xs-12 ">

              <div [collapse]="isCollapsed">
                <div class="table-responsive">
                  <table class="table table-condensed table-bordered table-striped table-hover">
                    <thead>
                      <tr>
                        <th>Event</th>
                        <th>Type</th>
                        <th>Set Date</th>
                        <th>Remove Date</th>
                        <th>L/E</th>
                        <th>Carrier Details</th>
                        <th>Carrier Location</th>
                        <th>From Location</th>
                        <th>To Location</th>
                        <th>Severity</th>
                        <th>Comment</th>
                        <th>Voided</th>
                      </tr>
                    </thead>

                    <tbody *ngIf="equipmentTripEvents">
                      <tr style="cursor: pointer" (click)="onEdit(i,$event)" *ngFor="let equipmentTripEvent of equipmentTripEventList;let i=index">
                        <td>{{equipmentTripEvent.event}}</td>
                        <td>{{equipmentTripEvent.eventType}}</td>
                        <td>{{equipmentTripEvent.setDate | date: 'MM/dd/yyyy'}}</td>
                        <td>{{equipmentTripEvent.removeDate | date: 'MM/dd/yyyy'}}</td>
                        <td>{{equipmentTripEvent.loadedEmptyStatus}}</td>
                        <td>{{equipmentTripEvent.carrierDetails}}</td>
                        <td>{{equipmentTripEvent.carrierLocation}}</td>
                        <td>{{getLocationName(equipmentTripEvent.locationId)}}</td>
                        <td>{{getLocationName(equipmentTripEvent.toLocationId)}}</td>
                        <td>{{equipmentTripEvent.severity}}</td>
                        <td>{{equipmentTripEvent.comment}}</td>
                        <td><input type="checkbox" class="checkbox" name="{{i}}IsVoided" #{{i}}IsActive="ngModel" (click)="onEditDoNothing(i,$event)"
                            (change)="onChangeIsVoided(i,$event)" [(ngModel)]=equipmentTripEvent.isVoided [disabled]="!pageSecurity.isWritable ? true : null"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12" [collapse]="isCollapsed">
              <button class="btn btn-primary" type="button" (click)="onAddEvent()" [disabled]="equipmentTrip && (equipmentTrip.equipmentTripId ==0  || equipmentTrip.equipmentTripId ==null) || !pageSecurity.isWritable">Add Event</button>
            </div>
          </div>

          <popup #equipmentTripEventPopup (confirmClick)="onSaveEquipmentTripEvent($event)" (cancelClick)="onCancelEquipmentTripEvent()">

            <div class="form-group" *ngIf="equipmentTripEventObject">
              <div class="row">
                <savage-message2></savage-message2>
                <label for="event" class="col-xs-2 col-form-label">Event*</label>
                <div class="col-xs-4">
                  <select class="form-control readOnly" name="event" [(ngModel)]=equipmentTripEventObject.event (change)="onChangeEquipmentripEvent($event.target.value)"
                    required> 
                        <option [ngValue]=null>Select</option>
                    <option *ngFor="let equipmentTripEvent of equipmentTripEvents" [value]="equipmentTripEvent" [disabled]="!pageSecurity.isWritable">{{equipmentTripEvent}}</option>
                </select>
                </div>
                <label for="eventType" class="col-xs-2 col-form-label">Event Type*</label>
                <div class="col-xs-4">
                  <select class="form-control readOnly" name="eventType" [(ngModel)]=equipmentTripEventObject.eventType required> 
                        <option [ngValue]=""></option>
                    <option *ngFor="let equipmentTripEventType of equipmentTripEventTypes" [value]="equipmentTripEventType" [disabled]="!pageSecurity.isWritable">{{equipmentTripEventType}}</option>
                </select>
                </div>
              </div>
            </div>

            <div class="form-group" *ngIf="equipmentTripEventObject">
              <div class="row">
                <label for="shipDate" class="col-xs-2 col-form-label">Set Date*</label>
                <div class="col-xs-4">
                  <!--<input type="date" class="form-control readOnly" name="setDate" [(ngModel)]=equipmentTripEventObject.setDate required useValueAsDate>-->
                  <input ngui-datetime-picker class="form-control readOnly" name="setDate" [(ngModel)]=equipmentTripEventObject.setDate required/>
                </div>
                <label for="shipDate" class="col-xs-2 col-form-label">Remove Date</label>
                <div class="col-xs-4">
                  <!--<input type="date" class="form-control readOnly" name="removeDate" [(ngModel)]=equipmentTripEventObject.removeDate useValueAsDate>-->
                  <input ngui-datetime-picker class="form-control readOnly" name="removeDate" [(ngModel)]=equipmentTripEventObject.removeDate
                  />
                </div>
              </div>
            </div>

            <div class="form-group" *ngIf="equipmentTripEventObject">
              <div class="row">
                <label for="loadedEmptyStatus" class="col-xs-2 col-form-label">Loaded Status*</label>
                <div class="col-xs-4">
                  <select class="form-control readOnly" name="loadedEmptyStatus" [(ngModel)]=equipmentTripEventObject.loadedEmptyStatus required> 
                        <option [ngValue]=""></option>
                        <option *ngFor="let equipmentTripLoadedStatus of equipmentTripLoadedStatuses" [value]="equipmentTripLoadedStatus" [disabled]="!pageSecurity.isWritable">{{equipmentTripLoadedStatus}}</option>
                </select>
                </div>
                <label for="severity" class="col-xs-2 col-form-label">Severity*</label>
                <div class="col-xs-4">
                  <select class="form-control readOnly" name="severity" [(ngModel)]=equipmentTripEventObject.severity required> 
                        <option [ngValue]=""></option>
                        <option *ngFor="let equipmentTripSeverity of equipmentTripSeverities" [value]="equipmentTripSeverity" [disabled]="!pageSecurity.isWritable">{{equipmentTripSeverity}}</option>
                </select>
                </div>
              </div>
            </div>


            <div class="form-group" *ngIf="equipmentTripEventObject">
              <div class="row">
                <label for="carrierDetails" class="col-xs-2 col-form-label">Carrier Details</label>
                <div class="col-xs-4">
                  <input type="text" class="form-control readOnly" name="carrierDetails" [(ngModel)]=equipmentTripEventObject.carrierDetails>
                </div>
                <label for="carrierLocation" class="col-xs-2 col-form-label">Carrier Location</label>
                <div class="col-xs-4">
                  <input type="text" class="form-control readOnly" name="carrierLocation" [(ngModel)]=equipmentTripEventObject.carrierLocation>
                </div>
              </div>
            </div>


            <div class="form-group" *ngIf="equipmentTripEventObject">
              <div class="row">
                <label for="locationId" class="col-xs-2 col-form-label">Location</label>
                <div class="col-xs-4">
                  {{locationName}}
                </div>
                <label for="toLocationId" class="col-xs-2 col-form-label">To Location</label>
                <div class="col-xs-4">
                  <select class="form-control readOnly" id="toLocationId" name="toLocationId" [(ngModel)]=equipmentTripEventObject.toLocationId> 
                        <option ng-value=""></option>
                        <option *ngFor="let location of locationListForSelect" 
                    [value]="location.locationId" [disabled]="!pageSecurity.isWritable"
                    >{{location.locationName}}</option>
                </select>
                </div>
              </div>
            </div>


            <div class="form-group" *ngIf="equipmentTripEventObject">
              <div class="row">
                <label for="comment" class="col-xs-2 col-form-label">Comment</label>
                <div class="col-xs-4">
                  <input type="text" class="form-control readOnly" name="comment" [(ngModel)]=equipmentTripEventObject.comment>
                </div>
                <label for="isVoided" class="col-xs-2 col-form-label">Voided</label>
                <div class="col-xs-4">
                  <input type="checkbox" class="readOnly" name="isVoided" [(ngModel)]=equipmentTripEventObject.isVoided>
                </div>
              </div>
            </div>

            <div class="col-xs-4 col-xs-offset-2">
              <button type="button" class="btn btn-primary" [disabled]="false" (click)="onSaveEquipmentTripEvent($event)">Save</button>
              <button type="button" class="btn btn-primary" [disabled]="false" (click)="onCancelEquipmentTripEvent($event)">Cancel</button>
            </div>

          </popup>
        </form>
      </div>


    </div>
  </div>
</div>
<!--equipmentTripEventObject: {{equipmentTripEventObject | json}}-->
<!--equipmentTrip: {{equipmentTrip | json}}-->
