<div class="container-fluid">
    <h4><button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed">{{isCollapsed ? '+' : '-'}}</button>        Misc Service</h4>
    <form #transferOrderServiceForm="ngForm" (ngSubmit)="submitForm(transferOrderServiceForm)" form-inline>
        <div class="col-sm-12 row">
            <div class="col-sm-10" [collapse]="isCollapsed">
                <table class="table table-condensed table-bordered table-responsive table-striped table-hover" >
                    <thead>
                        <tr>
                            <th>Service</th>
                            <th>Activity Date</th>
                            <th>Quantity</th>
                            <th>UOM</th>
                            <th>Authjorized By</th>
                            <th>Comment</th>
                            <th>Voided</th>
                        </tr>
                    </thead>

                    <tbody *ngIf="transferOrderServices" >
                        <tr *ngFor="let transferOrderService of transferOrderServices;let i=index">
                            <td style="cursor: pointer" (click)="onEdit(i,$event)">{{getServiceTypeName(transferOrderService.serviceId)}}</td>
                            <td style="cursor: pointer" (click)="onEdit(i,$event)">{{transferOrderService.activityDate| date: 'MM/dd/yyyy hh:mm'}}</td>
                            <td style="cursor: pointer" (click)="onEdit(i,$event)">{{transferOrderService.quantity}}</td>
                            <td style="cursor: pointer" (click)="onEdit(i,$event)">{{getUnitOfMeasureName(transferOrderService.uomId)}}</td>
                            <td style="cursor: pointer" (click)="onEdit(i,$event)">{{transferOrderService.authorizedBy}}</td>
                            <td style="cursor: pointer" (click)="onEdit(i,$event)">{{transferOrderService.comment}}</td>
                            <td><input type="checkbox" class="checkbox" name="{{i}}IsVoided" #{{i}}IsActive="ngModel" (change)="onChangeIsVoided(i,$event)"
                                    [(ngModel)]=transferOrderService.isVoided [disabled]="!pageSecurity.isWritable ? true : null"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-2" [collapse]="isCollapsed">
                <!--<button class="btn btn-primary" type="button" (click)="onAddService()" [disabled]="transferOrder && (transferOrder.transferOrderId ==0  || transferOrder.transferOrderId ==null)">Add Service</button>-->
                <button class="btn btn-primary" type="button" (click)="onAddService()" [disabled]="transferOrder && (transferOrder.transferOrderId ==0  || transferOrder.transferOrderId ==null) || !pageSecurity.isWritable  || transferOrder.isValidated || transferOrder.isCompleted" >Add Service</button>
            </div>
        </div>
        <popup #transferOrderServicePopup (confirmClick)="onSaveTransferOrderService()" (cancelClick)="onCancelTransferOrderService();">
            <div class="form-group row" *ngIf="transferOrderServiceObject">
                <label for="serviceId" class="col-sm-2 col-form-label">Service*</label>
                <div class="col-sm-4">
                    <select class="form-control readOnly" id="serviceId" name="serviceId" [(ngModel)]=transferOrderServiceObject.serviceId (change)="onServiceChange($event.target.value)"
                        required>
                        <option [ngValue]="null">Select</option>
                    <option *ngFor="let service of serviceTypeList"
                    [value]="service.serviceTypeId" [disabled]="!pageSecurity.isWritable"
                    >{{service.serviceType}}</option>
                </select>
                </div>
            </div>

            <div class="form-group row" *ngIf="transferOrderServiceObject">
                <label for="activityDate" class="col-sm-2 col-form-label">Activity Date*</label>
                <div class="col-sm-4">
                    <!--<input type="date" class="form-control readOnly" name="activityDate" [(ngModel)]=transferOrderServiceObject.activityDate
                        required useValueAsDate>-->
                    <input class="form-control readOnly" name="activityDate" [(ngModel)]=transferOrderServiceObject.activityDate ngui-datetime-picker required/>
                </div>
                <label for="quantity" class="col-sm-2 col-form-label">Quantity*</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control readOnly" name="quantity" [(ngModel)]=transferOrderServiceObject.quantity required>
                </div>
            </div>
            <div class="form-group row" *ngIf="transferOrderServiceObject">
                <label for="uomId" class="col-sm-2 col-form-label">Unit Of Measure*</label>
                <div class="col-sm-4">
                    {{getUnitOfMeasureName(transferOrderServiceObject.uomId)}}
                </div>
                <label for="authorizedBy" class="col-sm-2 col-form-label">Autorized By*</label>
                <div class="col-sm-4">
                    <input type="string" class="form-control readOnly" name="authorizedBy" [(ngModel)]=transferOrderServiceObject.authorizedBy
                        required>
                </div>

            </div>
            <div class="form-group row" *ngIf="transferOrderServiceObject">
                <label for="comment" class="col-sm-2 col-form-label">Comment</label>
                <div class="col-sm-4">
                    <input type="string" class="form-control readOnly" name="comment" [(ngModel)]=transferOrderServiceObject.comment>
                </div>
                <label for="isVoided" class="col-sm-2 col-form-label">Voided</label>
                <div class="col-sm-4">
                    <input type="checkbox" class="readOnly" name="isVoided" [(ngModel)]=transferOrderServiceObject.isVoided>
                </div>
            </div>
        </popup>
    </form>
    <!--transferOrderServiceObject:{{transferOrderServiceObject|json}}-->
    <!--
  transferOrder: {{transferOrder | json}}-->
