 <div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Transfer Type</h2>
  </div>
  <div class="panel-body">
    <div class="row">
        <div class="col-md-6">
          <form #transferTypeForm="ngForm" (ngSubmit)="onSubmitForm(transferTypeForm)" class="form-horizontal"e>
        
            <div class="form-group row" *ngIf="transferType && transferType.transferTypeId !== 0 ">
            <label for="transferTypeId" class="col-xs-4 control-label">Id</label>
            <div class="col-xs-8">
                <input type="text" class="form-control readOnly" name="transferTypeId" [(ngModel)]=transferType.transferTypeId #transferTypeId="ngModel" [readonly]="true">
            </div>
        </div>

        <div class="form-group row" *ngIf="transferType">
            <label for="transferType" class="col-xs-4 control-label">Transfer Type</label>
            <div class="col-xs-8">
                <input type="text" class="form-control readOnly" name="transferType" [(ngModel)]=transferType.transferType transferType="ngModel" 
                [readonly]="!pageSecurity.isWritable ? true : null"
                required minlength="3" maxlength="50" [disabled]="!pageSecurity.isWritable" >
                <span class="help-block alert-danger" *ngIf="(transferType.touched || transferType.dirty) && transferType.errors">
                            <span *ngIf="transferType.errors.required">
                            TransferType is required
                            </span>
                <span *ngIf="transferType.errors.minlength">
                                TransferType must be longer than 3 characters.
                            </span>
                </span>
                <savage-message></savage-message>
            </div>
        </div>

        <div class="form-group row" *ngIf="transferType">
            <label for="#isActive" class="col-xs-4 control-label">Is Active</label>
            <div class="col-xs-8">
                <input type="checkbox" name="isActive" #displayName="ngModel" [(ngModel)]=transferType.isActive [disabled]="!pageSecurity.isWritable" >
            </div>
        </div>
       
        <div class="col-xs-offset-4 col-xs-4">
            <button type="submit" class="btn btn-primary " [disabled]="!transferTypeForm.valid || isInvalid	|| !pageSecurity.isWritable">Save</button>
        </div>
        </form>


        </div>
    </div>

       
      </div>
  </div>





    
    <!--<div class="form-value">
        Form value:
        <pre>
    {{transferTypeForm.value | json}}
  </pre>
        <p>
            transferType: {{transferType | json}}

        </p>
        <p>
            Valid: {{transferTypeForm.valid}}
        </p>

        Security: {{transferTypeSecurity | json}}
    </div>-->