<div class="container">

    <h4>Sites</h4>
    <form #userSiteForm="ngForm" (ngSubmit)="submitForm(userSiteForm)" form-inline>
        <div class="col-md-12 row">
            <div class="col-md-4">
                <table class="table table-condensed table-bordered table-responsive table-striped table-hover" *ngIf="user && user.userSites">
                    <thead>
                        <tr>
                            <th>SiteId</th>
                            <th>SiteName</th>
                            <th>IsActive</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let userSite of user.userSites;let i=index">
                            <td>{{userSite.userSiteId}} </td>
                            <td>{{getSiteName(userSite.siteId)}} </td>
                            <td>
                                <input type="checkbox" class="checkbox" name="{{i}}IsActive" #{{i}}IsActive="ngModel" (change)="onChangeIsActive(i,$event)"
                                    [(ngModel)]=userSite.isActive [disabled]="!pageSecurity.isWritable ? true : null "></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-8" *ngIf="siteList">
                <button class="col-md-offset-1 col-md-3 btn btn-primary" type="button" (click)="onAddSite()" [disabled]="!pageSecurity.isWritable">Add Site</button>
                <div class="col-md-4">
                    <select class="form-control " name="selectedSite" #selectedRole="ngModel" [(ngModel)]="mySelectedSite" [disabled]="!pageSecurity.isWritable">
                        <option [ngValue]="null">Select  Site</option>
                        <option *ngFor="let site of siteList" [ngValue]="site.siteId">{{site.siteName}}</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
