<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Equipmen</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-10">

        <form novalidate [formGroup]="equipmentForm">
          <div class="form-group" *ngIf="equipment && equipment.equipmentId !== 0 ">
            <div class="row">
              <label for="equipmentId" class="col-xs-3 col-form-label">Id</label>
              <div class="col-xs-3">
                <input type="number" id="userIdId" class="form-control readOnly" formControlName="equipmentId" [readonly]="true">
              </div>
              <label for="#equipmentName" class="col-xs-3 col-form-label">Equipment Name*</label>
              <div class="col-xs-3">
                <input type="text" class="form-control readOnly" id="equipmentNameId" placeholder="Required" formControlName="equipmentName"
                  [readonly]="!pageSecurity.isWritable ? true : null">
                <span class="help-block alert-danger" *ngIf="displayMessage.equipmentName">
                                    {{displayMessage.equipmentName}}
                            </span>
                <savage-message></savage-message>
              </div>
            </div>
          </div>

          <div class="form-group" *ngIf="equipment">
            <div class="row">
              <label for="#equipmentTypeId" class="col-xs-3 col-form-label">Equipment Type*</label>
              <div class="col-xs-3">
                <select class="form-control readOnly" id="equipmentTypeIdId" formControlName="equipmentTypeId" (change)="onChangeEquipmentType($event.target.value)"
                  required>
                    <option [ngValue]="null" [disabled]="!pageSecurity.isWritable">Select  EquipmentType</option>
                    <option *ngFor="let equipmentType of equipmentTypeList"
                    [value]="equipmentType.equipmentTypeId" [disabled]="!pageSecurity.isWritable"
                    >{{equipmentType.equipmentType}}</option>
                </select>
              </div>

              <label for="#equipmentSubTypeId" class="col-xs-3 col-form-label">Equipment Sub Type</label>
              <div class="col-xs-3">
                <select class="form-control readOnly" id="equipmentSubTypeIdId" formControlName="equipmentSubTypeId">
                    <option [ngValue]="null">Select  EquipmentSubType</option>
                    <option *ngFor="let equipmentSubType of equipmentSubTypeList"
                    [value]="equipmentSubType.equipmentSubTypeId" [disabled]="!pageSecurity.isWritable"
                    > {{equipmentSubType.equipmentSubType}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group" *ngIf="equipment">
            <div class="row">
              <label for="#fleetId" class="col-xs-3 col-form-label">Fleet</label>
              <div class="col-xs-3">
                <select class="form-control readOnly" id="fleetIdId" formControlName="fleetId" (change)="onChangeFleet($event.target.value)">
                    <option [ngValue]="null">Select  Fleet</option>
                    <option *ngFor="let fleet of fleetList"
                    [value]="fleet.fleetId" [disabled]="!pageSecurity.isWritable"
                    > {{fleet.fleetName}}</option>
                </select>
              </div>

              <label for="#subFleetId" class="col-xs-3 col-form-label">Sub Fleet</label>
              <div class="col-xs-3">
                <select class="form-control readOnly" id="subFleetIdId" formControlName="subFleetId">
                    <option [ngValue]="null">Select  SubFleet</option>
                    <option *ngFor="let subFleet of subFleetList"
                    [value]="subFleet.subFleetId" [disabled]="!pageSecurity.isWritable"

                    > {{subFleet.subFleetName}}</option>
                </select>
              </div>
            </div>
          </div>



          <div class="form-group" *ngIf="equipment">
            <div class="row">
              <label for="#vesselTypeId" class="col-xs-3 col-form-label">Vessel Type</label>
              <div class="col-xs-3">
                <select class="form-control readOnly" id="vesselTypeIdId" formControlName="vesselTypeId">
                    <option [ngValue]="null">Select  VesselType</option>
                    <option *ngFor="let vesselType of vesselTypeList"
                    [value]="vesselType.vesselTypeId" [disabled]="!pageSecurity.isWritable"
                    > {{vesselType.vesselType}}</option>
                </select>
              </div>
              <label for="#outagePercentage" class="col-xs-3 col-form-label">Outage %</label>
              <div class="col-xs-3">
                <input type="number" class="form-control readOnly" id="outagePercentageId" formControlName="outagePercentage">
              </div>
            </div>
          </div>

          <div class="form-group" *ngIf="equipment">
            <div class="row">
              <label for="#grossWeight" class="col-xs-3 col-form-label">Gross Weight</label>
              <div class="col-xs-3">
                <input type="number" class="form-control readOnly" id="grossWeightId" formControlName="grossWeight">
              </div>
              <label for="#lightWeight" class="col-xs-3 col-form-label">Light Weight</label>
              <div class="col-xs-3">
                <input type="number" class="form-control readOnly" id="lightWeightId" formControlName="lightWeight">
              </div>
            </div>
          </div>

          <div class="form-group" *ngIf="equipment">
            <div class="row">
              <label for="#customerId" class="col-xs-3 col-form-label">Customer</label>
              <div class="col-xs-3">
                <select class="form-control readOnly" id="customerIdId" formControlName="customerId">
                    <option [ngValue]="null">Select Customer</option>
                    <option *ngFor="let customer of customerList"
                    [value]="customer.companyId" [disabled]="!pageSecurity.isWritable"
                    > {{customer.companyName}}</option>
                </select>
              </div>
              <label for="#carrierId" class="col-xs-3 col-form-label">Carrier</label>
              <div class="col-xs-3">
                <select class="form-control readOnly" id="carrierIdId" formControlName="carrierId">
                    <option [ngValue]="null">Select Carrier</option>
                    <option *ngFor="let carrier of carrierList"
                    [value]="carrier.companyId" [disabled]="!pageSecurity.isWritable"
                    > {{carrier.companyName}}</option>
                </select>
                <span class="help-block" *ngIf="displayMessage.carrierId">
                                {{displayMessage.carrierId}}
                        </span>
              </div>
            </div>
          </div>


          <div class="form-group" *ngIf="equipment">
            <div class="row">
              <label for="#isActive" class="col-xs-3 col-form-label">Is Active</label>
              <div class="col-xs-3">
                <input type="checkbox" name="isActive" formControlName=isActive [disabled]="!pageSecurity.isWritable">
              </div>
            </div>
          </div>


         <div class="row">
          <div *ngIf="equipment != null && equipment.equipmentId!=null && equipment.equipmentType != null && equipment.equipmentType.equipmentTypeId != null && equipment.equipmentType.equipmentType.toUpperCase() !== 'RAILCAR'">
            <equipment-sites [equipment]="equipment"></equipment-sites>
          </div>
          </div>
          
          <div class="row">
            <div class="col-xs-6">
                <button type="button" class="btn btn-warning" [disabled]="!equipmentForm.valid || isInvalid || !pageSecurity.isWritable"
            (click)="saveEquipment()">Save</button>
            </div>
          </div>          

        </form>
        <div *ngIf="loading == true" class="loader">Loading/Processing..</div>
      </div>
    </div>
  </div>
</div>







<!--<div class="form-value">
        Form value:
        <pre>
    {{equipmentForm.value | json}}
  </pre>
        <p>
            equipment: {{equipment | json}}

        </p>
        <p>
            Valid: {{equipmentForm.valid}}
        </p>

        Security: {{equipmentSecurity | json}}
    </div>-->
