<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="movement-panel">
    <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#movement" aria-expanded="true"
      aria-controls="movement">
      Movement
    </h4>
  </div>
  <div id="movement" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="movement">
    <form #transferOrderArrivalForm="ngForm">
      <savage-message3></savage-message3>
      <div class="table-responsive off-scroll">
        <table class="table table-condensed table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Equipment</th>
              <th>Scale In Weight+</th>
              <th>Scale In Date+</th>
              <th>Scale Out Weight+</th>
              <th>Scale Out Date+</th>
              <th>Net Weight Xfer</th>
              <th>Loaded/Empty</th>
            </tr>
          </thead>

          <tbody *ngIf="transferOrderArrivals">
            <tr *ngFor="let transferOrderArrival of transferOrderArrivals;let i=index">
              <td>{{getEquipmentName(transferOrderArrival.equipmentId)}}</td>
              <td> <input type="number" class="form-control readOnly" name="{{i}}scaleInWeight" [(ngModel)]=transferOrderArrival.scaleInWeight
                  (input)="onScaleInWeightChange($event.target.value,i)"></td>
              <td>
                <input class="form-control readOnly" name="{{i}}scaleInDate" [(ngModel)]=transferOrderArrival.scaleInDate ngui-datetime-picker/>
                <!--<input type="date" class="form-control readOnly" name="{{i}}scaleInDate" [(ngModel)]=transferOrderArrival.scaleInDate useValueAsDate>-->
              </td>
              <td> <input type="number" class="form-control readOnly" name="{{i}}scaleOutWeight" [(ngModel)]=transferOrderArrival.scaleOutWeight
                  (input)="onScaleOutWeightChange($event.target.value, i)"></td>
              <td>
                <!--<input type="date" class="form-control readOnly" name="{{i}}scaleOutDate" [(ngModel)]=transferOrderArrival.scaleOutDate  useValueAsDate>-->
                <input class="form-control readOnly" name="{{i}}scaleOutDate" [(ngModel)]=transferOrderArrival.scaleOutDate ngui-datetime-picker/>
              </td>
              <td><input type="number" class="form-control readOnly" name="{{i}}netTransfer" [(ngModel)]=transferOrderArrival.netTransferWeight></td>
              <td>
                <select class="form-control " name="{{i}}loadedEmptyStatus" [(ngModel)]="transferOrderArrival.loadedEmptyStatus">

                                    <option [ngValue]=null>Select </option>
                    <option *ngFor="let loadEmpty of loadEmptyStatuses"
                    [value]="loadEmpty"
                    > {{loadEmpty}}</option>
                                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="form-group " *ngIf="transferOrder">
            <label for="departureEquipmentTypeId" class="col-xs-4 col-form-label">Equipment Type+</label>
            <div class="col-xs-8">
              <select class="form-control readOnly" name="departureEquipmentTypeId" [(ngModel)]=transferOrder.departureEquipmentTypeId
                #departureEquipmentTypeId="ngModel" (change)="onEquipmentTypeChange($event.target.value)" [disabled]="!pageSecurity.isWritable || disableEquipmentTypeAndEquipment()">
                                <option [ngValue]=null>Select Type</option>
                                <option *ngFor="let equipmentType of equipmentTypeList"
                                [value]="equipmentType.equipmentTypeId" [disabled]="!pageSecurity.isWritable || disableEquipmentTypeAndEquipment()">{{equipmentType.equipmentType}}</option>
                            </select>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="form-group " *ngIf="transferOrder">
            <label for="departureEquipmentName  " class="col-xs-4 col-form-label">Equipment+</label>
            <div class="col-xs-8">
              <!--current begin-->
              <input type="text" class="form-control readOnly" name="departureEquipmentName" [(ngModel)]=transferOrder.departureEquipmentName
                #departureEquipmentName="ngModel" required="transferOrder.isCompleted?transferOrder.isCompleted:null" *ngIf="departureEquipmentNameShow"
                (input)="onEquipmentNameChange($event.target.value)" [disabled]="!pageSecurity.isWritable || disableEquipmentTypeAndEquipment()">
              <select class="form-control readOnly" name="departureEquipmentId" [(ngModel)]=transferOrder.departureEquipmentId *ngIf="departureEquipmentIdShow"
                (change)="onEquipmentDropDownChange($event.target.value)" [disabled]="!pageSecurity.isWritable || disableEquipmentTypeAndEquipment()">
                                <option [ngValue]=null>Select</option>
                                <option *ngFor="let equipment of equipmentList"
                        [value]="equipment.equipmentId"
                        >{{equipment.equipmentName}}</option>
                            </select>

              <!--currend end-->



              <!--<select class="form-control readOnly" name="departureEquipmentId" [(ngModel)]=departureEquipmentId
                                #departureEquipmentId="ngModel" required="transferOrder.isCompleted?transferOrder.isCompleted:null"
                                *ngIf="departureEquipmentIdShow">
                        <option *ngFor="let equipment of equipmentList"
                        [value]="equipment.equipmentId"
                        >{{equipment.equipmentName}}</option>
                    </select>-->
              <!--<span class="help-block alert-danger" *ngIf="departureEquipmentName.errors">
                                <span *ngIf="departureEquipmentName.errors.required">
                                    Equipment is required
                                </span>
                            </span>-->

              <!--<input type="text" class="form-control readOnly transferOrderEquipmentDropDown" name="departureEquipmentName" [(ngModel)]=transferOrder.departureEquipmentName
                                #departureEquipmentName="ngModel" required="transferOrder.isCompleted?transferOrder.isCompleted:null">-->

              <!--<span class="help-block alert-danger" *ngIf="departureEquipmentName.errors">
                                <span *ngIf="departureEquipmentName.errors.required">
                                    Equipment is required
                                </span>
                            </span>-->
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="form-group " *ngIf="transferOrder">
            <label for="departureSealNumbers" class="col-xs-4 col-form-label">Seals</label>
            <div class="col-xs-8">
              <input type="text" class="form-control readOnly" name="departureSealNumbers" [(ngModel)]=transferOrder.departureSealNumbers
                #departureSealNumbers="ngModel" (input)="onSealsChange($event.target.value)">
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="form-group " *ngIf="transferOrder">
            <label for="transferOrderLoaderId" class="col-xs-4 col-form-label">Loader</label>
            <div class="col-xs-8">
              <select class="form-control readOnly" name="transferOrderLoaderId" [(ngModel)]=transferOrder.transferOrderLoaderId #transferOrderLoaderId="ngModel"
                (change)="onLoaderChange($event)">
                                <option [ngValue]=null>Select</option>
                                    <option *ngFor="let loader of transferOrderLoaderList" [value]="loader.transferOrderLoaderId" [disabled]="!pageSecurity.isWritable">{{loader.loaderName}}</option>
                                </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row" [collapse]="isCollapsed">
        <div class="col-sm-6 col-md-3">
          <div class="form-group " *ngIf="transferOrder">
            <label for="loadStartDate" class="col-xs-4 col-form-label">Load Start Date</label>
            <div class="col-xs-8">
              <div id="loadStartDate" class="input-group date">
                <input class="form-control readOnly" name="loadStartDate" [(ngModel)]=transferOrder.loadStartDate ngui-datetime-picker (ngModelChange)="onLoadStartDateChange($event)"
                />
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="form-group " *ngIf="transferOrder">
            <label for="loadEndDate" class="col-xs-4 col-form-label">Load End Date</label>
            <div class="col-xs-8">
              <div id="loadEndDate" class="input-group date">
                <input class="form-control readOnly" name="loadEndDate" [(ngModel)]=transferOrder.loadEndDate ngui-datetime-picker (ngModelChange)="onLoadEndDateChange($event)"
                />
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="form-group " *ngIf="transferOrder">
            <label for="strength" class="col-xs-4 col-form-label">Strength</label>
            <div class="col-xs-8">
              <input type="text" class="form-control readOnly" name="strength" [(ngModel)]=transferOrder.strength #strength="ngModel" (input)="onStrenghtChange($event)">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
