<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Unit of Measure Conversion</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <form #unitOfMeasureConversionForm="ngForm" (ngSubmit)="onSubmitForm(unitOfMeasureConversionForm)" form-inline>
          <div class="form-group" *ngIf="unitOfMeasureConversion && unitOfMeasureConversion.unitOfMeasureConversionId !== 0 ">
            <div class="row"><label for="unitOfMeasureConversionId" class="col-xs-4 col-form-label">Id</label>
              <div class="col-xs-8">
                <input type="text" class="form-control readOnly" name="unitOfMeasureConversionId" [(ngModel)]=unitOfMeasureConversion.unitOfMeasureConversionId
                  #unitOfMeasureConversionId="ngModel" [readonly]="true">
              </div>
            </div>
          </div>

          <div class="form-group" *ngIf="unitOfMeasureConversion">
            <div class="row">
              <label for="fromUnitOfMeasureId" class="col-xs-4 col-form-label">From Unit Of Measure</label>
              <div class="col-xs-8">
                <select class="form-control readOnly" name="fromUnitOfMeasureId" [(ngModel)]=fromUnitOfMeasureId #fromUnitOfMeasure="ngModel"
                  (change)="onFromUnitOfMeasureChange($event.target.value)" required>
                <option [ngValue]="null">Select  From UOM</option>
                    <option *ngFor="let unitOfMeasure of unitOfMeasureList"
                    [value]="unitOfMeasure.unitOfMeasureId" [disabled]="!pageSecurity.isWritable"
                    > {{unitOfMeasure.unitOfMeasure}}</option>
                </select>
                <span class="help-block  alert-danger" *ngIf="fromUnitOfMeasure.errors">
                            <span *ngIf="fromUnitOfMeasure.errors.required" >
                                FromUnitOfMeasure is required
                            </span>
                </span>
              </div>
            </div>
          </div>

          <div class="form-group" *ngIf="unitOfMeasureConversion">
            <div class="row"> <label for="toUnitOfMeasureId" class="col-xs-4 col-form-label">To Unit Of Measure</label>
              <div class="col-xs-8">
                <select class="form-control readOnly" name="toUnitOfMeasureId" [(ngModel)]=toUnitOfMeasureId #toUnitOfMeasure="ngModel" (change)="onToUnitOfMeasureChange($event.target.value)"
                  required [disabled]="!pageSecurity.isWritable">
                <option [ngValue]="null">Select  To UOM</option>
                    <option *ngFor="let unitOfMeasure of unitOfMeasureList"
                    [value]="unitOfMeasure.unitOfMeasureId" [disabled]="!pageSecurity.isWritable"
                    > {{unitOfMeasure.unitOfMeasure}}</option>
                </select>
                <span class="help-block  alert-danger" *ngIf="toUnitOfMeasure.errors">
                            <span *ngIf="toUnitOfMeasure.errors.required" >
                                ToUnitOfMeasure is required
                            </span>
                </span>
                <savage-message></savage-message>
              </div>
            </div>
          </div>

          <div class="form-group" *ngIf="unitOfMeasureConversion">
            <div class="row"><label for="#operator" class="col-xs-4 col-form-label">Operator</label>
              <div class="col-xs-8">
                <select name="operator" class="form-control" #operator="ngModel" [(ngModel)]="unitOfMeasureConversion.operator" [disabled]="!pageSecurity.isWritable ? true : null"
                  required>
                    <option [ngValue]="null">Select  Operator</option>
            <option *ngFor="let operator of operators" [ngValue]="operator">
                {{operator}}
            </option>
        </select>
                <span class="help-block alert-danger" *ngIf="operator.errors">
                            <span *ngIf="operator.errors.required" >
                                Operator is required
                            </span>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="unitOfMeasureConversion">
            <div class="row">
              <label for="#factor" class="col-xs-4 col-form-label">Factor</label>
              <div class="col-xs-8">
                <input type="number" class="form-control readOnly" name="factor" [(ngModel)]=unitOfMeasureConversion.factor #factor="ngModel"
                  [readonly]="!pageSecurity.isWritable ? true : null" step="0.00000001" required>
              </div>
            </div>
          </div>

          <div class="form-group" *ngIf="unitOfMeasureConversion">
            <div class="row">
              <label for="productId" class="col-xs-4 col-form-label">Product</label>
              <div class="col-xs-8">
                <select class="form-control readOnly" name="productId" [(ngModel)]=unitOfMeasureConversion.product.productId #product="ngModel"
                  (change)="onProductChange($event.target.value)" [disabled]="!pageSecurity.isWritable">
                    <option [ngValue]="null">Select  Product</option>
                    <option *ngFor="let product of productList"
                    [value]="product.productId" [disabled]="!pageSecurity.isWritable"
                    >{{product.productName}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group row" *ngIf="unitOfMeasureConversion">
            <label for="#isActive" class="col-xs-4 col-form-label">Is Active</label>
            <div class="col-xs-8">
              <input type="checkbox" name="isActive" #displayName="ngModel" [(ngModel)]=unitOfMeasureConversion.isActive [disabled]="!pageSecurity.isWritable">
            </div>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!unitOfMeasureConversionForm.valid || isInvalid|| !pageSecurity.isWritable">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
